@{
    ViewData["Title"] = "Error404";
}
<link href="~/css/site.css" type="text/css" rel="stylesheet" />

<br />
<br />
<img src="~/images/error-404.jpg" CssClass="page-not-found-image"/>
<h2>Página no encontrada.</h2>